*{padding: 0; margin: 0; list-style: none;}

/*상단 메뉴바*/
.header{
    position: fixed;
    top: 0;
    width: 100%;

    position: fixed;
    height: 20px;
    padding: 1rem;
    color: black;
    background: silver;
    font-weight: bold;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
}
.header > #logo{ position:absolute; position: center;top:12px}
.header > h1 > a{ position:relative; top: -10px; left: 35px;text-decoration:none; color:black;}

.topMenu > ul{
    text-align: center;
}

.topMenu > ul > li{
    display: inline-block;
    position: relative;
    left:50px
}
.topMenu > ul > li:hover{
    /*background-color: rgb(155, 155, 155);*/
    text-decoration-line: underline;
    transition: background-color 0.3s;
}

.topMenu > ul > li > a{
    display: block;
    padding:0 40px;/*메뉴 간 간격*/
    text-decoration: none;
    color: black;
}

.topMenu ul ul{
    display:none;
    position: absolute;
    width: 100%;
}

.topMenu ul ul a{
    display: block;
    line-height: 40px;/*드롭다운되는 박스 길이*/
    background-color: silver;/*드롭 다운 박스 색*/
    font-size: 16px;
    text-decoration:none; color:black;

    border: 1.8px outset #fff;
    border-radius: 0;
    -webkit-box-shadow: 1.5px 1.5px #000;
    box-shadow: 1.5px 1.5px #000;
}

.topMenu ul ul a:hover{
    background-color: #fff;
}

.topMenu li:hover ul{
    display: block;
}

/********************************************************************************************************/
/*시작 화면*/

.card_animation{display: flex;}
.card_animation li {
    flex:1; height: 100vh; text-align: center;
    line-height: 100vh;
    transition: all .5s;
    background: no-repeat center / cover;
}
.card_animation li:hover{flex:1.8;}
.card_animation > li > a{text-decoration: none; color: black;}

.card_animation li:nth-child(1) {
    background-image: url('../project/assets/80s_Seoul_2.jpg');
    font-family: 'BTTF';
    font-size: 140px; color: rgb(250, 146, 28);
    text-shadow:  6px 2px rgb(121, 121, 121);
}

.card_animation li:nth-child(2) {
    background-image: url('../project/assets/90_Sonpa.jpg');
    font-family: 'HE';
    font-size: 170px; font-weight: 900;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

.card_animation li:nth-child(1):hover{flex: 1.4; font-size: 200px;  text-shadow: 6px 2px 5px yellow;}
.card_animation li:nth-child(2):hover{
    flex: 1.4; font-size: 230px;  text-shadow: 6px 2px 5px rgb(255, 0, 200);
}

/********************************************************************************************************/
/*footer*/

.footer{
    width: 100%;
    height: 100px;
    background: silver;
}

.footer p{
    padding-top: 20px;
    padding-left: 30px;
}

/********************************************************************************************************/
/*Modal*/

.modalbox{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    position:fixed; 
    display: flex;
    justify-content: center;/*세로 중앙에 띄우기*/
    align-items: center;/*화면 가로 중앙에 띄우기*/
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0, 5s;
}

.mb-active{
    visibility: visible;
    opacity: 1;
    background: rgba(36, 36, 36, 0.466)
}

.modal{
    /*modal창 크기*/
    width: 30%;
    height: 30%;
    max-width: 1400px;
    max-height: 800px;

    box-shadow: 1px 1px 0 0 #424242;
    border: 1px solid #fff;
    border-right-color: #848484;
    border-bottom-color: #848484;
    border-radius: 2px;
    overflow:hidden;/*화면 작아지면 내용물 튀어나오지 않게 하기*/
    
    background: silver;
    padding: 2px;
    z-index: 99;
}

.modal-header{
    height: 32px;
    background: #08216b;
    color:white;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    
    position: relative;
}

.btn_close{
    position: absolute;
    top: 2px;
    right: 10px;

    /*버튼 경계선 스타일 지정*/
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
    border-radius: 1px;

    background: silver;
    color: black;

    margin-top: 5px;
    padding-bottom: 10px;
    height: 22px;
    width: 22px;
}

.btn_close:hover {
    border: 2px inset #fff;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000;
}

.modal-header .btn_close span{
    top: 4px;
    right: 14px;
    font-size: large;
}

.pathInfo{
    padding-top: 8px;
    padding-bottom: 1px;
}

.a2{
    display: none;
}

.modal-body .jangSik li{
    display: inline-block;
    font-family: W95FA;
    font-size: 1em;
    padding: 0 5px;
    left:5px;
}

.btn_Container{
    position: absolute;
    width: 29%;
    height: 21%;
    background: #fff;
    
    margin:  0 10px 10px 7px;
    
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-left-color: #424242;
    border-top-color: #424242;
    border-radius: 1px;
    overflow: hidden;
}

.btn li{
    display: inline-block;
    padding: 0 23px;/*아이콘 간 간격*/
    vertical-align: middle;
}

.btn li img{
    width:150%;/*사진 크기*/
}

.btn li a{
    position: relative;
    text-decoration: none;
    color:black;
    font-family: W95FA;
    top: 30px;
    left: 10px;
    
}

.btn li a p{
    position: absolute;
    padding-left: 24px;/*이름 위치*/
}

/********************************************************************************************************/
/*폰트 지정*/

@font-face {
    font-family: 'SSangMoon';
    src: url('../project/assets/font/SongMyung-Regular.ttf');
}
@font-face {
    font-family: 'BTTF';
    src: url('../project/assets/font/BTTF.ttf');
}
@font-face {
    font-family: 'HMKBS';
    src: url('../project/assets/font/HMKBS\ \(휴먼\ 굵은\ 샘체\).TTF');
}
@font-face {
    font-family: 'HE';
    src: url('../project/assets/font/HumanNewExpo.ttf');
}
@font-face {
    font-family: 'W95FA';
    src: url('../project/assets/font/W95FA.otf');
}
