*{padding: 0; margin: 0; list-style: none;}

/*상단 메뉴바*/
.header{
    height: 20px;
    padding: 1rem;
    color: black;
    background: silver;
    font-weight: bold;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative;
}
.header > #logo{ position:absolute; position: center;top:12px}
.header > h1 > a{ position:relative; top: -10px; left: 35px;text-decoration:none; color:black;}

.topMenu > ul{
    text-align: center;
}

.topMenu > ul > li{
    display: inline-block;
    position: relative;
    left:50px
}
.topMenu > ul > li:hover{
    /*background-color: rgb(155, 155, 155);*/
    text-decoration-line: underline;
    transition: background-color 0.3s;
}

.topMenu > ul > li > a{
    display: block;
    padding:0 40px;/*메뉴 간 간격*/
    text-decoration: none;
    color: black;
}

.topMenu ul ul{
    display:none;
    position: absolute;
    width: 100%;
}

.topMenu ul ul a{
    display: block;
    line-height: 40px;/*드롭다운되는 박스 길이*/
    background-color: silver;/*드롭 다운 박스 색*/
    font-size: 16px;
    text-decoration:none; color:black;

    border: 1.8px outset #fff;
    border-radius: 0;
    -webkit-box-shadow: 1.5px 1.5px #000;
    box-shadow: 1.5px 1.5px #000;
}

.topMenu ul ul a:hover{
    background-color: #fff;    
}

.topMenu li:hover ul{
    display: block;
}


/********************************************************************************************************/
/*시작 화면*/

.card_animation{display: flex;}
.card_animation li {
    flex:1; height: 100vh; text-align: center;
    line-height: 100vh;
    transition: all .5s;
    background: no-repeat center / cover;
}
.card_animation li:hover{flex:1.8;}
.card_animation > li > a{text-decoration: none; color: black;}

.card_animation li:nth-child(1) {
    background-image: url('../project/assets/80s_Seoul_2.jpg');
    font-family: 'BTTF';
    font-size: 140px; color: rgb(250, 146, 28);
    text-shadow:  6px 2px rgb(121, 121, 121);
}

.card_animation li:nth-child(2) {
    background-image: url('../project/assets/90_Sonpa.jpg');
    font-family: 'HE';
    font-size: 170px; font-weight: 900;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

.card_animation li:nth-child(1):hover{flex: 1.4; font-size: 200px;  text-shadow: 6px 2px 5px yellow;}
.card_animation li:nth-child(2):hover{
    flex: 1.4; font-size: 230px;  text-shadow: 6px 2px 5px rgb(255, 0, 200);
    /* 밑줄 넣기 text-decoration-line: underline;
    box-shadow: inset 0 -1px 0 rgb(0,154,0);*/
}


/********************************************************************************************************/
/*폰트 지정*/

@font-face {
    font-family: 'SSangMoon';
    src: url('../project/assets/font/SongMyung-Regular.ttf');
}
@font-face {
    font-family: 'BTTF';
    src: url('../project/assets/font/BTTF.ttf');
}
@font-face {
    font-family: 'HMKBS';
    src: url('../project/assets/font/HMKBS\ \(휴먼\ 굵은\ 샘체\).TTF');
}
@font-face {
    font-family: 'HE';
    src: url('../project/assets/font/HumanNewExpo.ttf');
}

/********************************************************************************************************/

  