*{padding: 0; margin: 0; list-style: none;}

/*상단 메뉴바*/
.header{
    position: fixed;
    top: 0;
    width: 100%;

    height: 20px;
    padding: 1rem;
    color: black;
    background: silver;
    font-weight: bold;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
    z-index: 99;
}
.header > #logo{ position:absolute; position: center;top:12px}
.header > h1 > a{ position:relative; top: -10px; left: 35px;text-decoration:none; color:black;}

.topMenu > ul{
    text-align: center;
}

.topMenu > ul > li{
    display: inline-block;
    position: relative;
    left: 50px;
}
.topMenu > ul > li:hover{
    text-decoration-line: underline;
    transition: background-color 0.3s; transition: background-color 0.3s;
}

.topMenu > ul > li > a{
    display: block;
    padding:0 40px;/*메뉴 간 간격*/
    text-decoration: none;
    color: black;
}

.topMenu ul ul{
    display:none;
    position: absolute;
    width: 100%;
}

.topMenu ul ul a{
    display: block;
    line-height: 40px;/*드롭다운되는 박스 길이*/
    background-color: silver;/*드롭 다운 박스 색*/
    font-size: 16px;
    text-decoration:none; color:black;

    border: 1.8px outset #fff;
    border-radius: 0;
    -webkit-box-shadow: 1.5px 1.5px #000;
    box-shadow: 1.5px 1.5px #000;
}

.topMenu ul ul a:hover{
    background-color: #fff;
}

.topMenu li:hover ul{
    display: block;
}
/*******************************************************************************************************/

.body{ background-color: black;}

/********************************************************************************************************/

.intro{
    height: 100vh;
}

.intro video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro h1{
    position: absolute;
    top:50%;
    left: 40%;
    transform: translate(-50% -50%);
    font-size: 100px;
    font-family: BTTF;
    color: rgba(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.intro h5{
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50% -50%);
    font-family: SSangMoon;
    font-size: 50px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.scd{
    height: 100vh;
    line-height: 0;/*씬 사이의 흰 공간 없애기*/
}

.scd h1{
    position: relative;
    top:50%;
    left: 20%;
    transform: translate(-50% -50%);
    font-size: 100px;
    font-family: SsangMoon;
    color: rgba(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.video2{
    background-color: black;
    width: 100%;
    height: 100%;
}

.chapter1{
    height: 100vh;
    line-height: 0;
}

.chapter1 h1{
    position: relative;
    top:70%;
    left:18%;
    transform: translate(-50% -50%);
    font-size: 100px;
    font-family: SsangMoon;
    color: rgba(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.video3{
    background-color: black;
    width: 100%;
    height: 100%;
}

/********************************************************************************************************/

.section{
    line-height: 0;
    background-color: #000;
}

.section input[id*='slide']{
    display: none;
}
.section .slidewrap{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.section .slideList{
    white-space: nowrap;
    font-size: 0;
}
.section .slideList > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    transition: all .5s;
}
.section .slideList>li>a{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.section .slideList>li>a img{
    /* width: 80%; max-height: 90%; overflow: hidden; */
    width: 100%; max-height: 20%;
    
}
.section .slideList label{
    position: absolute;
    z-index: 10;
    top:50%;
    transform: translateY(-50%);
    padding:50px;
    cursor: pointer;
}
.section .slideList .left{
    left: 30px;
    background: url('../assets/icon/Arrow_left.png') center center /100% no-repeat;
}
.section .slideList .right{
    right: 30px;
    background: url('../assets/icon/Arrow_Right.png') center center /100% no-repeat;
}

.section [id='slide01']:checked ~ .slidewrap .slideList > li {transform: translateX(0%);}
.section [id='slide02']:checked ~ .slidewrap .slideList > li {transform: translateX(-100%);}
.section [id='slide03']:checked ~ .slidewrap .slideList > li {transform: translateX(-200%);}
.section [id='slide04']:checked ~ .slidewrap .slideList > li {transform: translateX(-300%);}
.section [id='slide05']:checked ~ .slidewrap .slideList > li {transform: translateX(-400%);}
.section [id='slide06']:checked ~ .slidewrap .slideList > li {transform: translateX(-500%);}
.section [id='slide07']:checked ~ .slidewrap .slideList > li {transform: translateX(-600%);}

.section .slideList .textbox{
    position:relative;
    z-index: 1;
    transition: all .5s;
}
.section .slideList .textbox h1 {
    font-size: 100px; 
    font-family: SSangMoon;
    transform: translateY(50px);
    float:left;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
.section .slideList .textbox h2 {
    font-size: 90px; 
    font-family: SSangMoon;
    transform: translateY(130px);
    float:left;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
.section .slideList .textbox h3 {
    font-size: 90px; 
    font-family: SSangMoon;
    transform: translateY(210px);
    float:left;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

/********************************************************************************************************/
/*폰트 지정*/
@font-face {
    font-family: 'SSangMoon';
    src: url('../assets/font/SongMyung-Regular.ttf');
}
@font-face {
    font-family: 'BTTF';
    src: url('../assets/font/BTTF.ttf');
}
@font-face {
    font-family: 'HMKBS';
    src: url('../assets/font/HMKBS\ \(휴먼\ 굵은\ 샘체\).TTF');
}
@font-face {
    font-family: 'HE';
    src: url('../assets/font/HumanNewExpo.ttf');
}
