*{padding: 0; margin: 0; list-style: none;}

/*상단 메뉴바*/
.header{
    position: fixed;
    top: 0;
    width: 100%;

    height: 20px;
    padding: 1rem;
    color: black;
    background: silver;
    font-weight: bold;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
    z-index: 99;
}
.header > #logo{ position:absolute; position: center;top:12px}
.header > h1 > a{ position:relative; top: -10px; left: 35px;text-decoration:none; color:black;}

.topMenu > ul{
    text-align: center;
}

.topMenu > ul > li{
    display: inline-block;
    position: relative;
    left: 50px;
}
.topMenu > ul > li:hover{
    text-decoration-line: underline;
    transition: background-color 0.3s; transition: background-color 0.3s;
}

.topMenu > ul > li > a{
    display: block;
    padding:0 40px;/*메뉴 간 간격*/
    text-decoration: none;
    color: black;
}

.topMenu ul ul{
    display:none;
    position: absolute;
    width: 100%;
}

.topMenu ul ul a{
    display: block;
    line-height: 40px;/*드롭다운되는 박스 길이*/
    background-color: silver;/*드롭 다운 박스 색*/
    font-size: 16px;
    text-decoration:none; color:black;

    border: 1.8px outset #fff;
    border-radius: 0;
    -webkit-box-shadow: 1.5px 1.5px #000;
    box-shadow: 1.5px 1.5px #000;
}

.topMenu ul ul a:hover{
    background-color: #fff;
}

.topMenu li:hover ul{
    display: block;
}
/*******************************************************************************************************/

.body{ background-color: black;}

/********************************************************************************************************/

#intro{
    height: 100vh;
}

#intro video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#intro h1{
    position: absolute;
    top:50%;
    left: 40%;
    transform: translate(-50% -50%);
    font-size: 100px;
    font-family: BTTF;
    color: rgba(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

#intro .ninety{
    position: absolute;
    top:45%;
    left: 40%;
    transform: translate(-50% -50%);
    font-size: 150px;
    font-family: HE;
    color: rgba(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

#intro h5{
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50% -50%);
    font-family: SSangMoon;
    font-size: 50px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/********************************************************************************************************/

#introVideo{
    position:relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color:white;
    z-index: 2;
    overflow: hidden;
}

#chapter1{
    position:relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color:white;
    z-index: 2;
    overflow: hidden;
}

#chapter2{
    position: relative;
    width: 100%;
    right: 0;
    min-height: 100vh;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color:white;
    z-index: 2;
    overflow: hidden;
}

#chapter3{
    position: relative;
    width: 100%;
    right: 0;
    min-height: 100vh;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color:white;
    z-index: 2;
    overflow: hidden;
}

#chapter4{
    position: relative;
    width: 100%;
    right: 0;
    min-height: 100vh;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color:white;
    z-index: 2;
    overflow: hidden;
}

.contents video{
    position: absolute;
    width: 100%;
    height: 90%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.158);
    mix-blend-mode: overlay;
}

.text{
    margin-left: 200px;
    margin-top: 400px;
    position: relative;
    z-index: 10;
    font-family: SSangMoon;
}

.text h2{
    font-size: 8em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3{
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p{
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;/*펼쳐지는 길이 제한*/
    background: rgba(0, 0, 0, 0.726);
    padding: 15px 15px 15px 15px;
}

.text a{
    display: inline-block;
    font-size: 1em;
    background: white;
    padding:10px 30px;
    text-decoration: none;
    color:#111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover{
    letter-spacing: 6px;
}

.music{
    margin-top: 600px;
    margin-right: 20px;
    padding: 15px 15px 50px 15px;

    background: rgba(0, 0, 0, 0.726);
    width: 800px;
    height: 200px;
    z-index: 10;
    font-size: 1.2em;
    font-family: SSangMoon;
}

.music h3{
    font-size: 30px;
}

.music img{
    width: 200px;
    float: left;
}

.music p{
    padding-left: 220px;
    font-size: 22px;
}

.music a{
    position: absolute;
    color:white;
    padding-left: 20px;
}

/********************************************************************************************************/
/*인디케이터*/

.indicator{
    width: 100px;
    height: 100%;
    text-align: center;
    z-index: 90;

    position: fixed;
    top: 50px;
    left: 0px;
    background: black;
    color: white;
    transition: all .3s;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-family: SSangMoon;
}

#indiList{
    margin-top: 200%;
}
.l{
    margin: 60% 0px;
    cursor: pointer;
}

/********************************************************************************************************/
/*폰트 지정*/
@font-face {
    font-family: 'SSangMoon';
    src: url('../assets/font/SongMyung-Regular.ttf');
}
@font-face {
    font-family: 'BTTF';
    src: url('../assets/font/BTTF.ttf');
}
@font-face {
    font-family: 'HMKBS';
    src: url('../assets/font/HMKBS\ \(휴먼\ 굵은\ 샘체\).TTF');
}
@font-face {
    font-family: 'HE';
    src: url('../assets/font/HumanNewExpo.ttf');
}

@media(max-width: 991px){
    .chapter1,
    .text h2{
        font-size: 3em;
    }

    .text h3{
        font-size: 2em;
    }
}
