*{padding: 0; margin: 0; list-style: none;}

/*상단 메뉴바*/
.header{
    height: 20px;
    padding: 1rem;
    color: black;
    background: silver;
    font-weight: bold;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative;
}
.header > #logo{ position:absolute; position: center;top:12px}
.header > h1 > a{ position:relative; top: -10px; left: 35px;text-decoration:none; color:black;}

.topMenu > ul{
    text-align: center;
}

.topMenu > ul > li{
    display: inline-block;
    position: relative;
    left:50px
}
.topMenu > ul > li:hover{
    /*background-color: rgb(155, 155, 155);*/
    text-decoration-line: underline;
    transition: background-color 0.3s; transition: background-color 0.3s;
}

.topMenu > ul > li > a{
    display: block;
    padding:0 40px;/*메뉴 간 간격*/
    text-decoration: none;
    color: black;
}

.topMenu ul ul{
    display:none;
    position: absolute;
    width: 100%;
}

.topMenu ul ul a{
    display: block;
    line-height: 40px;/*드롭다운되는 박스 길이*/
    background-color: silver;/*드롭 다운 박스 색*/
    font-size: 16px;
    text-decoration:none; color:black;

    border: 1.8px outset #fff;
    border-radius: 0;
    -webkit-box-shadow: 1.5px 1.5px #000;
    box-shadow: 1.5px 1.5px #000;
}

.topMenu ul ul a:hover{
    background-color: #fff;
}

.topMenu li:hover ul{
    display: block;
}

/********************************************************************************************************/

.body{ background-color: teal;}

/********************************************************************************************************/
/*스크롤바*/

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-button:end:increment,::-webkit-scrollbar-button:start:decrement {
    display: block
}
::-webkit-scrollbar-button:vertical:end:decrement,::-webkit-scrollbar-button:vertical:start:increment {
    display: none
}
::-webkit-scrollbar-button:vertical:increment {
    width: 18px;
    background: silver url('../assets/icon/combo.png') no-repeat 50%;
    height: 18px;
    margin: 1px 1px 1px 10px;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    border: 1px outset #fff;
    border-shadow: 1px 1px #000;
}
::-webkit-scrollbar-button:vertical:decrement {
    width: 11px;
    background: silver url('../assets/icon/comboup.png') no-repeat 50%;
    height: 16px;
    margin: 1px 1px 1px 10px;
    transform: rotateX(180deg);
    -webkit-transform: rotateY(180deg);
    border: 1px outset #fff;
    border-shadow: 1px 1px #000
}
::-webkit-scrollbar-track{
    background-image: url('../assets/icon/background.bmp')
}
::-webkit-scrollbar-thumb:vertical {
    border: 1px outset #fff;
    border-shadow: 1px 1px #000;
    height: 40px;
    background-color: silver
}
::-webkit-scrollbar-corner:vertical {
    background-color: #000
}
:-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    display: block
}
::-webkit-scrollbar-button:horizontal:end:decrement,::-webkit-scrollbar-button:horizontal:start:increment {
    display: none
}
::-webkit-scrollbar-button:horizontal:increment {
    background: silver url('../assets/icon/comboright.png') no-repeat 50%;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg)
}
::-webkit-scrollbar-button:horizontal:decrement,::-webkit-scrollbar-button:horizontal:increment {
    width: 18px;
    height: 18px;
    margin: 1px 1px 1px 10px;
    border: 1px outset #fff;
    border-shadow: 1px 1px #000
}
::-webkit-scrollbar-button:horizontal:decrement {
    background: silver url('../assets/icon/comboleft.png') no-repeat 50%;
    transform: rotateX(180deg);
    -webkit-transform: rotateY(180deg)
}
::-webkit-scrollbar-track-piece {
    margin: 1px;
}
::-webkit-scrollbar-thumb:horizontal {
    border: 1px outset #fff;
    border-shadow: 1px 1px #000;
    height: 40px;
    background-color: silver
}

/********************************************************************************************************/
/*엘범 자켓*/
.container{    
    display: table;/*사진 크기 맞추기*/
    padding: 40px;
    margin: 20px 30px;/*소제목과의 세로 간격*/
    display: flex;
    flex-flow: row wrap;/*가로로 정렬하고(row), 꽉차면 줄 바꾸기(wrap)*/
}

.box{
    display: table-cell;
    vertical-align: middle;

    margin: 20px 20px;
    transition: 1s;
}

.box > img{
    max-width:300px;
    max-height:300px;
    border-radius: 5px;
    transition: 1s;
}

.box:hover{
    transform: scale(1.3);
    z-index: 0.1;
}
.box>img:hover{box-shadow: 2px 2px 12px black; transition: 1s;}

/********************************************************************************************************/
/*modal*/

.modalbox{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    position:fixed; overflow: hidden;
    display: flex;
    justify-content: center;/*세로 중앙에 띄우기*/
    align-items: center;/*화면 가로 중앙에 띄우기*/
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0, 5s;
}

.mb-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    /*modal창 크기*/
    width: 60%;
    height: 70%;

    box-shadow: 1px 1px 0 0 #424242;
    border: 1px solid #fff;
    border-right-color: #848484;
    border-bottom-color: #848484;
    border-radius: 2px;

    background: silver;
    padding: 2px;
    z-index: 99;
}

.modal-header{
    height: 32px;
    background: -webkit-linear-gradient(left,#08216b,#a5cef7)!important;
    color:white;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    
    position: relative;
}

.btn_close{
    position: absolute;
    top: 2px;
    right: 10px;

    /*버튼 경계선 스타일 지정*/
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
    border-radius: 1px;

    background: silver;
    color: black;

    margin-top: 5px;
    padding-bottom: 10px;
    height: 22px;
    width: 22px;
}

.btn_close:hover {
    
    border: 2px inset #fff;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000;
}

.modal-header .btn_close span{
    top: 4px;
    right: 14px;
    font-size: large;
}

.albumInfo{
    padding-top: 8px;
    padding-bottom: 1px;
}